<div class="jumbotron">
    <h1 class="text-center">Login Form for Restuarants App</h1>
</div>
<div class="container">
<form class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="Email" [(ngModel)]="Email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="Password" [(ngModel)]="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="logIn()">Log In</button>
  </form>
  </div>
