<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" routerLink="home">Restuarantapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="add">Add resto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="update">Update resto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="list">List resto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      </ul>
      
  </div>
</nav>
<div>
<router-outlet></router-outlet>
<div class="footer">
  <p>Restuarantapp by &copy;Omkar Gupta</p>
</div>
</div>
